.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	display: block;
	content: '';
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
.transition{
	transition: all 0.3s ease-in;
}
li{
	list-style: none;
}
body {
	color: #333;
	font: 12px/1.5 arial, tahoma, 宋体;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #f67;
}
a.link:hover{
	color: #ea675a;
}
/*loading*/
		.loading{
			position: relative;
			width: 4px;
			height: 20px;
			margin: 2px auto;
			border-radius: 4px;
			background: #ff6700;
			transform: scale(1,1);
			animation: load 1s ease-in infinite;
		}
		.loading:after,
		.loading:before{
			position: absolute;
			top: 50%;
			left: 50%;
			content:'';
			width: 4px;
			height: 20px;
			border-radius: 4px;
			background: #ff6700;
		}
		.loading:after{
			margin: -10px 0 0 5px;
			transform: scale(1,0.5);
			animation: load 1s ease-in infinite 0.3s;
		}
		.loading:before{
			margin: -10px 0 0 -9px;
			transform: scale(1,0.5);
			animation: load 1s ease-in infinite 0.6s;
		}
		@keyframes load{
			0%,100%{
				opacity: 1;
				transform: scale(1,1);
			}
			50%{
				opacity: 0.5;
				transform: scale(1,0.5);
			}
		}
.fl{
	float: left;
}
.fr{
	float: right;
}
.dropdown{
	position: relative;
}
.dropdown-layer{
	display: none;
	position: absolute;
}	
[class *= '-active'] .arrow{
	transform: rotate(180deg);
}