/*顶部导航*/
	.nav-side{
	    width: 100%;
	    height: 34px;
    	background: #f5f5f5;
    	border-bottom: 1px solid #eee;
	}

	.nav-left{
		height: 34px;
		line-height: 34px;
	}
	.nav-left ul li{
	    float: left;
	    width: 82px;
	    height: 34px;
	    line-height: 34px;
	    border: 1px solid #f5f5f5;
	    padding: 0 5px;
	    text-align: center;		
	}
	.nav-right ul .dropdown{
	    float: left;
	    width: 82px;
	    height: 35px;
	    line-height: 35px;
	    padding: 0 5px;
	    text-align: center;	
	}
	.nav-right .dropdown-layer{
		top: 35px;
	}
	.nav-right .dropdown-layer .dropdown-item{
		width: 70px;
		padding-left: 10px;
		white-space: nowrap;
		height: 32px;
		line-height: 32px;

	}
	.nav-side .dropdown .dropdown-toggle{
		display: block;
		width: 82px;
	    height: 35px;
	    line-height: 35px;
	    padding: 0 5px;
		border: 1px solid #f5f5f5;
		border-bottom: none;	    
	}
	.dropdown-item:hover{
		background: #f4f0f4;
	}
	/*
	.dropdown:hover .dropdown-toggle{
		display: block;
		width: 82px;
		height: 34px;
		line-height: 34px;
		background: #fff;
		border: 1px solid #ddd;
		border-bottom: none;
	}
	.dropdown:hover .arrow{
		transform: rotate(180deg);
	}
	.dropdown:hover .dropdown-layer{
		display: block;
		width: 92px;
		border: 1px solid #ddd;
		border-top: none;
	}
	*/

	.menu-active .dropdown-toggle{
		display: block;
		width: 82px;
		height: 34px;
		line-height: 34px;
		background: #fff;
		border: 1px solid #ddd;
		border-bottom: none;
	}
	.menu-active .arrow{
		transform: rotate(180deg);
	}
	.menu-active .dropdown-layer{
		display: block;
		width: 92px;
		border: 1px solid #ddd;
		border-top: none;
	}
/*header头部部分*/
	.header{
		width: 100%;
		height: 110px;
	}
	.header .header-logo-box{
		float: left;
	}
	.header .header-logo{
		display: block;
		width: 190px;
		height: 90px;
		background: #fff url(../imgs/logo.png) center center no-repeat;
		background-size: cover;
		text-indent: -9999px;
	}
	.header .header-search{
		float: left;
		width: 540px;
		height: 110px;
		margin-left: 160px;
	}
	.header .main-search{
		position: relative;
		width: 100%;
		height: 84px;
		margin: 26px 0 0;
	}
	.header .main-search .fa-search{
		position: absolute;
		top: 0;
		left: 0;
	    width: 25px;
	    height: 40px;
	    line-height: 40px;
	    text-align: right;
	    font-size: 14px;
	    color: #ccc;	
	}
	.header .main-search form{
		margin: 0;
		padding: 0;
	}
	.header .main-search .search-keyword-box{
		float: left;
		width: 390px;
		height: 36px;
		background: #fff;
		padding: 0 0 0 28px;
		border: 2px solid #FA0;
		border-right: none;
	}
	.header .main-search .search-keyword-box .search-keyword{
		width: 362px;
		height: 36px;
		border: none;
		outline: none;
		font-size: 12px;
		padding-left: 4px;
		background: #fff;
		color: #BBB;
	}
	.header .main-search .search-btn{
		float: left;
		width: 120px;
		height: 40px;
		border: 0;
		background: #f90;
		font-size: 18px;
		text-indent: 2px;
		color: #fff;
		font-family: "MicroSoft YaHei";
		font-weight: bold;
		cursor: pointer;
	}
	.header .main-search .serch-btn:hover{
		background: #f80;
	}
	.header .main-search .search-layer{
		display: none;
		position: absolute;
		top: 40px;
		left: 0;
		width: 538px;
		border: 1px solid #ddd;
		border-top: none;

	}
	.header .main-search .search-layer li{
		width: 100%;
		height: 30px;
		padding: 0 10px;
		box-sizing: border-box;
		line-height: 30px;
		background: #fff;
	}
	.header .main-search .search-layer li:hover{
		background: #eee;
	}
	.header .main-search .hot-words{
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		height: 18px;
	}
	.header .main-search .hot-words .hot-words-item:first-child{
		margin-left:0px ;
	}
	.header .main-search .hot-words .hot-words-item{
		float: left;
		margin-left:10px ;
		color: #889399;
	}
	.header .main-search .hot-words .hot-words-item:hover{
		color: #f60;
	}
	.header .main-search .hot-words .hot-words-item .sep{
		color: #e2e2e2;
		margin-left: 8px;
	}
/*nav-bar开始*/
/*nav-bar导航条*/
	.nav-bar{
		width: 100%;
		height: 38px;
	}
	.nav-bar .homepage-sort{
		float: left;
		width: 190px;
		height: 38px;
		background: #f90;
		font-family: "Microsoft Yahei";
		
	}
	.nav-bar .homepage-sort:hover{
		background: #f80;
	}
	.nav-bar .homepage-sort a{
		display: block;
		margin: 9px 0 9px 8px; 
		font-size: 13px;
		font-weight: bold;
		color: #fff;
	}
	.nav-bar .nav-home{
		float: left;
		width: 795px;
		height: 38px;
	}
	.nav-bar .nav-home ul .nav-home-item{
		float: left;
		height: 38px;
		line-height: 38px;
		padding: 0 12px 0 13px;
	}
	.nav-bar .nav-home ul .nav-home-item a{ 
		display: inline-block;
		font-size: 15px;
		font-family: "Microsoft Yahei";
		font-weight: bold;	
	}
	.nav-bar .nav-right{
		float: right;
		width: 170px;	
		height: 38px;
	}
/*banner 分类列表*/
	.banner .category{
		position: relative;
		width: 190px;
		height: 482px;
		z-index: 99;
	}
	.category ul{
		width: 190px;
		height: 480px;
		background: #262221;	
	}
	.category .dropdown{
	    width: 190px;
	    height: 32px;
	    padding: 0 8px 0 10px;
	    line-height: 32px;
	    box-sizing: border-box;
	}
	.category .dropdown a{
	    display: inline-block;
	    vertical-align: middle;
	    color: #FFF;
	    font-size: 14px;
	    text-decoration: none;
	}
	.category .dropdown .sep{
		color: #6d6968 ;
	}
	.category .dropdown{
		position: static;
	}
	.category .dropdown-layer{
		/*display: block;*/
		top:0;
		left:100%;
		width: 774px;
		height: 482px;
		background: #999;
		padding-bottom: 24px;
		box-sizing: border-box;
	}
	.category-details{
		overflow: hidden;
		margin-top: 24px;
		font-size: 14px;
		width: 764px;
	}
	.category-details-title{
		width: 84px;
		text-align: right;
		box-sizing: border-box;
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}
	.category-details-title-link{
		font-weight: bold;
	}
	.category-details-item{
		width: 670px;
		line-height: 20px;
	}
	.category-details-item .link{
		margin-left: 10px;
		display: inline-block;
	}
	.category-active .dropdown-toggle{
		background: rgba(0,0,0,0.8);
	}
	.category-active .dropdown-toggle .dropdown-link,
	.category-active .dropdown-toggle .sep{
		color: #ea675a;
	}
	.category .loading{
		margin: 240px auto;
	}	
/*banner 轮播图*/		
	.banner .carousel-wrap,
	.banner .carousel-wrap .carousel-item img {
		width: 761px;
		height: 482px;
	}
/*横幅区域侧边栏开始*/
	.banner .sidebar {
		width: 249px;
	}

	.focus-news {
		padding: 7px 20px 12px;
		background-color: #fff;
		border: 1px solid #d9dde1;
		border-bottom: none;
	}
	.focus-news-head {
		height: 38px;
		line-height: 38px;
	}
	.focus-news-title {
		color: #ea675a;
		font-size: 16px;
	}
	.focus-news-body {
		line-height: 28px;
	}
	.focus-service {
		background-color: #fff;
		border-left: 1px solid #d9dde1;
	}
	.focus-service-item {
		width: 61px;
		height: 71px;
		border-top: 1px solid #d9dde1;
		border-right: 1px solid #d9dde1;
		text-align: center;
	}
	.focus-service-icon,
	.focus-service-text {
		display: inline-block;
		width: 100%;
	}
	.focus-service-icon {
		margin-top: 17px;
		color: #f67272;
		font-size: 22px;
	}
	.focus-service-text {
		margin-top: 6px;
		color: #4d555d;
	}
	.focus-ad {
		width: 100%;
		height: 90px;
		background: url(../images/focus-ad.png) no-repeat;
	}
	.banner .slider{
		margin-left: 8px;
	}		
