<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>006-if条件渲染.html</title>
</head>
<body>
	<div id="app">
		<input type="text" v-model="score"/>
		<p v-if="score >= 90">优秀</p>
		<p v-else-if="score >= 80">优良</p>
		<p v-else-if="score >= 70">良好</p>
		<p v-else-if="score >= 60">及格</p>
		<p v-else>不及格</p>
	</div>
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			score:0
		}
		
	})
	//只有条件符合才会 插入DOM树 与show 不同
</script>
</html>