<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>008-列表渲染v-for.html</title>
</head>
<body>
	<div id="app">
		<table>
			<tr>
				<th>姓名</th>
				<th>年龄</th>
				<th>分数</th>				
				<th>是否及格</th>				
			</tr>
			<tr v-for="person in persons">
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
				<td>{{person.score}}</td>
				<td v-if="person.score >= 60 ">及格</td>
				<td v-else>不及格</td>
			</tr>

		</table>
	</div>
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			persons:[
				{name:'老樊',age:17,score:66},
				{name:'知南',age:15,score:55},
				{name:'嘉怡',age:18,score:92},
				{name:'洛伊',age:16,score:88},
			]
		}
		
	})

</script>
</html>