.container{
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	display: block;
	float: both;
	content: '';
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}

body {
	color: #333;
	font: 12px/1.5 arial, tahoma, 宋体;
}
em,i{
	font-style: normal;
}	
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #f60;
}
li{
	list-style: none;
}