/*top顶部导航*/
.top{
	width: 100%;
	height: 35px;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}
.top .left-nav{
	float: left;
}
.top .dropdown{
	position: relative;
	float: left;
	width: 82px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #f5f5f5;
	padding: 0 5px;
	text-align: center;
}
.top .dropdown:hover{
	background: #fff;
	height: 35px;
	border: 1px solid #ddd;
	border-bottom: none;
}
.top .left-nav .dropdown a{
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: default;
}
.top .right-nav{
	float: right;
}
.top .right-nav li{
	float: left;
	width: 70px;
	height: 35px;
	line-height: 35px;
	/*margin-left: 5px;*/
	text-align: center;		
}
.top .left-nav .navigation{
	display: none;
	width: 990px;
	height: 242px;
	border: 1px solid #DDDDDD;
	border-top: none;
	background: #fff;
	position: absolute;
	top: 35px;
	left: -1px;
	z-index: 996;	
}
.top .left-nav .navigation dl{
	border-right: 1px solid #eee;
	float: left;
	padding-left: 20px;
	width:176px;
	margin-top: 25px;	
}
.top .left-nav .navigation dt{
	font-size: 14px;
	height: 25px;
	line-height: 17px;
	width: 100%;	
}
.top .left-nav .navigation dd{
	overflow: hidden;
	float: left;
	height: 25px;
	line-height: 25px;
	width: 78px;
	display: inline-block;	
}
.top .left-nav .navigation dd:hover{
	color: #f60;
	cursor: pointer;
}
.top .left-nav .shop-center{
	display: none;
	position: absolute;
	top: 35px;
	left: -1px;
	z-index: 996;	
	width: 164px;
	border: 1px solid #DDDDDD;
	border-top: none;
	background: #fff;
}
.top .left-nav .shop-center a{
	float: left;
	padding-left: 10px;
    width: 71px;
}
.top .left-nav .service-center{
	display: none;
	position: absolute;
	top: 35px;
	right: -1px;
	z-index: 996;	
	width: 164px;
	border: 1px solid #DDDDDD;
	border-top: none;
	background: #fff;	
}
.top .left-nav .service-center a{
	float: left;
	width: 71px;
	padding-left: 10px;
}
