/*top顶部导航*/
	.top{
		width: 100%;
		height: 35px;
		background: #f5f5f5;
		border-bottom: 1px solid #eee;
	}
	.top .left-nav{
		float: left;
	}
	.top .dropdown{
		position: relative;
		float: left;
		width: 82px;
		height: 34px;
		line-height: 34px;
		border: 1px solid #f5f5f5;
		padding: 0 5px;
		text-align: center;
	}
	.top .dropdown:hover{
		background: #fff;
		height: 35px;
		border: 1px solid #ddd;
		border-bottom: none;
	}
	.top .dropdown em{
		transition: transform 0.5s ease-in;
	}
	.top .dropdown em.normal{
		transform: rotate(0deg);
	}
	.top .dropdown em.rotate{
		transform: rotate(180deg);
	}
	.top .left-nav .dropdown a{
		display: inline-block;
		width: 100%;
		/*height: 100%;*/
		cursor: default;
	}
	.top .right-nav{
		float: right;
	}
	.top .right-nav li{
		float: left;
		width: 70px;
		height: 34px;
		line-height: 34px;
		/*margin-left: 5px;*/
		text-align: center;		
	}
	.top .left-nav .navigation{
		display: none;
		width: 990px;
		height: 242px;
		border: 1px solid #DDDDDD;
		border-top: none;
		background: #fff;
		position: absolute;
		top: 35px;
		left: -1px;
		z-index: 996;	
	}
	.top .left-nav .navigation dl{
		border-right: 1px solid #eee;
		float: left;
		padding-left: 20px;
		width:176px;
		margin-top: 25px;	
	}
	.top .left-nav .navigation dt{
		font-size: 14px;
		height: 25px;
		line-height: 17px;
		width: 100%;	
	}
	.top .left-nav .navigation dd{
		overflow: hidden;
		float: left;
		height: 25px;
		line-height: 25px;
		width: 78px;
		display: inline-block;	
	}
	.top .left-nav .navigation dd:hover{
		color: #f60;
		cursor: pointer;
	}
	.top .left-nav .shop-center{
		display: none;
		position: absolute;
		top: 35px;
		left: -1px;
		z-index: 996;	
		width: 164px;
		border: 1px solid #DDDDDD;
		border-top: none;
		background: #fff;
	}
	.top .left-nav .shop-center a{
		float: left;
		padding-left: 10px;
	    width: 71px;
	}
	.top .left-nav .service-center{
		display: none;
		position: absolute;
		top: 35px;
		right: -1px;
		z-index: 996;	
		width: 164px;
		border: 1px solid #DDDDDD;
		border-top: none;
		background: #fff;	
	}
	.top .left-nav .service-center a{
		float: left;
		width: 71px;
		padding-left: 10px;
	}
/*header头部部分*/
	.header{
		width: 100%;
		height: 110px;
	}
	.header .header-logo-box{
		float: left;
	}
	.header .header-logo{
		display: block;
		width: 190px;
		height: 90px;
		background: #fff url(../images/logo.png) center center no-repeat;
		background-size: cover;
		text-indent: -9999px;
	}
	.header .header-search{
		float: left;
		width: 540px;
		height: 110px;
		margin-left: 160px;
	}
	.header .main-search{
		position: relative;
		width: 100%;
		height: 84px;
		margin: 26px 0 0;
	}
	.header .main-search .fa-search{
		position: absolute;
		top: 0;
		left: 0;
	    width: 25px;
	    height: 40px;
	    line-height: 40px;
	    text-align: right;
	    font-size: 14px;
	    color: #ccc;	
	}
	.header .main-search form{
		margin: 0;
		padding: 0;
	}
	.header .main-search .search-keyword-box{
		float: left;
		width: 390px;
		height: 36px;
		background: #fff;
		padding: 0 0 0 28px;
		border: 2px solid #FA0;
		border-right: none;
	}
	.header .main-search .search-keyword-box .search-keyword{
		width: 362px;
		height: 36px;
		border: none;
		outline: none;
		font-size: 12px;
		padding-left: 4px;
		background: #fff;
		color: #BBB;
	}
	.header .main-search .serch-btn{
		float: left;
		width: 120px;
		height: 40px;
		border: 0;
		background: #f90;
		font-size: 18px;
		text-indent: 2px;
		color: #fff;
		font-family: "MicroSoft YaHei";
		font-weight: bold;
		cursor: pointer;
	}
	.header .main-search .serch-btn:hover{
		background: #f80;
	}
	.header .main-search .hot-words{
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		height: 18px;
	}
	.header .main-search .hot-words .hot-words-item:first-child{
		margin-left:0px ;
	}
	.header .main-search .hot-words .hot-words-item{
		float: left;
		margin-left:10px ;
		color: #889399;
	}
	.header .main-search .hot-words .hot-words-item:hover{
		color: #f60;
	}
	.header .main-search .hot-words .hot-words-item .sep{
		color: #e2e2e2;
		margin-left: 8px;
	}

/*nav-bar导航条*/
	.nav-bar{
		width: 100%;
		height: 38px;
	}
	.nav-bar .homepage-sort{
		float: left;
		width: 190px;
		height: 38px;
		background: #f90;
		font-family: "Microsoft Yahei";
		
	}
	.nav-bar .homepage-sort:hover{
		background: #f80;
	}
	.nav-bar .homepage-sort a{
		display: block;
		margin: 9px 0 9px 8px; 
		font-size: 13px;
		font-weight: bold;
		color: #fff;
	}
	.nav-bar .nav-home{
		float: left;
		width: 795px;
		height: 38px;
	}
	.nav-bar .nav-home ul .nav-home-item{
		float: left;
		height: 38px;
		line-height: 38px;
		padding: 0 12px 0 13px;
	}
	.nav-bar .nav-home ul .nav-home-item a{ 
		display: inline-block;
		font-size: 15px;
		font-family: "Microsoft Yahei";
		font-weight: bold;	
	}
	.nav-bar .nav-right{
		float: right;
		width: 170px;	
		height: 38px;
	}
/*banner*/
	.banner{
		position: relative;
	}

	.banner .category{
		position: absolute;
		top: 0;
		width: 190px;
		height: 482px;
		z-index: 99;
	}
	.banner .category ul{
		width: 190px;
		height: 480px;
		background: #262221;	
	}
	.banner .category .category-list{
	    width: 190px;
	    height: 32px;
	    padding: 0 8px 0 10px;
	    line-height: 32px;
	    box-sizing: border-box;
	}
	.banner .category .category-list a{
	    display: inline-block;
	    vertical-align: middle;
	    color: #FFF;
	    font-size: 14px;
	    text-decoration: none;
	}
	.banner .category .category-list .sep{
		color: #6d6968 ;
	}
	/*轮播图*/
	.banner .carousel .leftBtn{
		display: block;
		position: absolute;
		left: 190px;
		margin-top: 50%;
		top: -32px;
		width: 30px;
		height: 64px;
		background: red;
	}
   
