* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 24px;
  color: pink;
}
div {
  margin-bottom: 10px;
}
/*我是注释二 编译被保留*/
.box1 {
  width: 300px;
  height: 200px;
  color: #ff6800;
  background: gray;
}
.box2 {
  width: 300px;
  height: 200px;
  color: #ff6800;
  background: gray;
}
.box3 {
  width: 300px;
  height: 200px;
  color: #ff6800;
  background: gray;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
