/*顶部导航开始*/
	.link{
		text-decoration: none!important;
	}		
	.link:hover{
		color: #ff6700!important;
	}
	#blog a:hover{
		color: #ff6700;
	}
	.blog{
		opacity: 0.9;
	}
	.blog .collapse .nav li{
		font-size: 16px;
		margin-left: 12px;
	}
	.blog .navbar-nav>li.active>a{
		color: #ff6700;
		background: transparent;
	}
/*顶部导航结束*/
/*banner开始*/
	.banner{
		margin-top: 70px;
	}
	.banner .carousel-inner img{
		width: 100%;	
		height: 420px;
	}
	.banner .ad .thumbnail{
		border: none;
		padding: 0;
		transition: all 0.3s ease-in;
	}
	.banner .ad .thumbnail:hover{
		box-shadow: 2px 4px 3px rgba(0,0,0,0.25);
		transform:translateY(2px) ;
	}
	.banner .ad .thumbnail img{
		width: 100%;
		height: 200px;
	}
	.main-panel{
		margin-top: 20px;
		margin-bottom: 0;
	}
	.main-panel .panel-heading{
		background-color: transparent;
		border: none;
		padding-left: 0;
	}
	.main-panel .panel-title{
		padding-left: 15px;
		border-left: 2px solid #ff6700;
	}
	.main-panel .panel-body{
		font-size: 16px;
	}
	.main-panel .panel-footer{
		background: transparent;
		border: none;
	}
	.panel-footer .text-muted{
		margin-right: 15px;
	}
	.main-panel:hover .panel-title{
		color: #ff6700;
	}	
	.aside-panel .panel-body img{
		width: 100px;
		height: 100px;
	}